.btn_user, .btn_emp
{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px #000;
    width: 30rem;
    height: 30rem;
}



.btn_user
{
    margin-left:65rem;
    transition: transform 0.3s ease;
    margin-top: -30rem;
}

.btn_emp    
{
    margin-top: 15rem;
    margin-left:115rem;
    padding: 15px 0 15px 0;
    transition: transform 0.5s ease;
}


.btn_emp:hover  {
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}

.btn_user:hover  {
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}

/*animação de botões 
vai na classe da div -> transition: transform 0.5s ease; 
vai no hover -> transform: scale(1.1);
*/